---

import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';



export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);

// 临时调试代码：如果文章数据为空，会在页面上显示错误信息
if (!post) {
  return <div>错误：未找到文章数据</div>;
}
if (!Content) {
  return <div>错误：无法解析文章内容</div>;
}

---

<BlogPost {...post.data}>
  <Content />
</BlogPost>
